====================================
ASP.NET Core / C# Default .gitignore
====================================

_[Ss]cripts
_Pvt_Extensions/
_ReSharper*/
_TeamCity*
_UpgradeReport_Files/
!**/packages/build/
!*CommonReferences/*.dll
!/packages/*/lib/*.dll
!/packages/*/lib/*/*.dll
.*crunch*.local.xml
.builds
.DS_Store
.DS_Store?
.DS_Store*
.idea/
.sass-cache
.svn
.vs/
.vscode/*
[Bb]in
[Bb]in/
[Bb]uild[Ll]og.*
[Dd]ebug/
[Ee]xpress/
[Oo]bj
[Oo]bj/
[Rr]elease/
[Ss]tyle[Cc]op.*
[Tt]est[Rr]esult*/
[Tt]est[Rr]esults
*_i.c
*_p.c
*.[Cc]ache
*.[Pp]ublish.xml
*.[Rr]e[Ss]harper
*.7z
*.aps
*.bak
*.build.csdef
*.cache
*.cachefile
*.class
*.com
*.dbmdl
*.dll
*.dll.config
*.dmg
*.dot[Cc]over
*.dotCover
*.exe
*.feature.cs
*.feature.xlsx.*
*.gpState
*.gz
*.ilk
*.iso
*.jar
*.log
*.meta
*.ncb
*.ncrunch*
*.ncrunchsolution
*.nupkg
*.obj
*.opensdf
*.orig
*.pch
*.pdb
*.pfx
*.pgc
*.pgd
*.pidb
*.psess
*.Publish.xml
*.publishsettings
*.rar
*.ReSharper.*
*.rsp
*.sbr
*.scc
*.sdf
*.sln.docstates
*.Specs_*.html
*.sqlite
*.suo
*.swo
*.swp
*.tar
*.tlb
*.tlh
*.tli
*.tmp
*.tmp_proj
*.txt~
*.user
*.vc.db
*.vc.vc.opendb
*.vscode/*
*.vsp
*.vspscc
*.vspx
*.vssscc
*.zip
*[Rr]esharper*
**/*.sln.ide
**/App_Data/*.ldf
**/App_Data/*.mdf
**/App_Data/*.sdf
**/node_modules/*
**/packages/*
*/*/.vscode/
*~
/_ReSharper.*
~$*
$RECYCLE.BIN/
AppData/
AppPackages/
Backup*/
bin/
build/
ClientBin/
csx
Desktop.ini
DocProject/buildhelp/
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/*.HxC
DocProject/Help/*.HxT
DocProject/Help/html
DocProject/Help/Html2
ehthumbs.db
Generated_Code/
GeneratedArtifacts/
ipch/
ModelManifest.xml
modulesbin/
NuGet.exe
obj/
packages
publish/
tempbin/
TestResults/
Thumbs.db
UpgradeLog*.htm
UpgradeLog*.XML
x64/
*appsettings.json
*.db
*wwwroot/